.footer {
  display: flex;
  padding: 3rem 5rem; 
  flex-direction: column;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
  background-color: #000000;
  margin-top: 50px;
  }

  
  .footer-container {
    display: grid;
    margin: 0 auto; 
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px;
    /* column-gap: 180px; */
  }


  .icon {
    display: flex;
    flex-direction: row; /* Establece la dirección de fila para los iconos */
    justify-content: center; /* Alinea los iconos al centro horizontalmente */
    margin-top: 5px; /* Ajusta el margen superior según sea necesario */
  }
  
  .location {
    display: flex;
    margin-bottom: 0.8rem;
  }
  
  .location p {
    line-height: 30px;
  }
  
  
  h4 {
    font-size: 1.1rem;
    padding-bottom: 0.7rem;
    font-family: 'Poppins', sans-serif;
  }
  
  p {
    color: #fff;
  }

.seguino{
  display: flex; /* Habilita flexbox */
  flex-direction: column; /* Asegúrate de que los elementos se alineen en una columna */
  justify-content: center; /* Centra verticalmente */
  
}

.lo{
  margin-bottom: 15px;
}

.le p{
  margin-top: 5px;
}

@media screen and (max-width: 1110px) {
  .footer-container {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 auto; 
      max-width: 100%;
      grid-gap: 30px;
  }

  @media screen and (max-width: 510px) {
    .footer-container {
      display: grid; 
      grid-template-columns: 1fr;
      padding: 0; /* Eliminar padding */
      grid-gap: 25px;
      justify-items: start; /* Alinear elementos a la izquierda */
      text-align: left; /* Alinear texto a la izquierda */
      margin: 0; /* Eliminar margen para que no esté centrado */
    }
}
}